.sura{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    

}

.img{
    height: 110%;
    max-height: 1300px;
    width: 50%;
    max-width: 1580px;
    overflow: hidden;
    object-fit: cover;
}

.grp_5{
    display: flex;
    width: 240px;
    flex-direction: column;
    padding-left: 260px;
    
}

.grp_6{
    display: flex;
    flex-direction: column;
    padding-left: 300px;

}

.grp_7{
    background-color: blue;
}

.text{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 38px;

}

.cmd{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    color: #ffffff;

    
}

.json{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    padding-bottom: 300px;
}

.boton{
    margin-right: 90px;
    border-radius: 50px;
    width: 180px;
    height: 155%;
    font-family: 'Barlow-Bold';
    margin-left: 50px;
    padding: 10px 20px;
    color: blue;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    place-items: center;
    
}

.boton1{
    margin-right: 5px;
    border-radius: 50px;
    width: 350px;
    height: 155%;
    font-family: 'Barlow-Bold';
    background-color: blue;
    color: #ffffff;
    margin-left: 90px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    place-items: center;
    
}
.caja{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.img_5{
    display: flex;
    color: #ffffff;
}

.humano{
    display: flex;
    position: fixed;
    top: -300px;
    right: 0px;
    max-height: 100%;
    transform: translate(1020%, 0%);
    background-color: blue;
    border-radius: 50%;
    overflow: hidden;

}

.txt_2{
    display: flex;
    position: fixed;
    top: 410px;
    right: 0px;
    transform: translate(280%);
    
}