*{
    padding: 0;
    margin: 0;
}


.boton_cerrar{
    border-radius: 50px;
    padding: 4px;
    background: rgb(172, 255, 104);
  }

  body {
    background-color: #0EFFFB;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.59'%3E%3Cpolygon fill='%231afcdc' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%2325f9c0' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%2331f6a8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%233cf494' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%2347f283' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%2352f076' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%235CEE6B' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  }

  .indic_valor {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 60px;
    padding-top: 30vh;
  }