body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF7F7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FF0000' stroke-width='22.1' stroke-opacity='0.77'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 5px;
  border: 10px solid white;
  border-radius: 63px 0px 63px 0px;
  -webkit-border-radius: 63px 0px 63px 0px;
  -moz-border-radius: 63px 0px 63px 0px;

  box-shadow: 3px 3px 44px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 44px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 44px 0px rgba(0, 0, 0, 0.75);
}

.card-loading {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 5px;
  border: 10px solid white;
  border-radius: 63px 0px 63px 0px;
  -webkit-border-radius: 63px 0px 63px 0px;
  -moz-border-radius: 63px 0px 63px 0px;

  box-shadow: 3px 3px 44px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 44px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 44px 0px rgba(0, 0, 0, 0.75);
}



.card-image {
  height: 100px;
  width: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-buscar {
  height: 5vh;
  width: 50vw;
  display: flex;
  justify-content: center;
}
